body{
    background-color: #1f2937;
}

a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 60px;
}

img{                    
    width: 444.1px;     /* original image dimensions:4441x3331 */
    height: 333.1px;
    margin-right: 150px;
 
}

.container{
    color: white;
    display: flex;
    font-family: Ubuntu,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    flex-direction: column;
}

.header{
    margin-left: 150px;
    padding: 30px;
    display: flex;
    
}

.perlinks{
    display: flex;
    justify-content: space-around;
    margin-right: 150px;

}

.hero{
    display: flex;
    justify-content: flex-start;
}

.herotext{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
    margin-left: 150px;
    padding: 30px;
}

.herotext0{
    font-size:48px;
    font-weight: bold;
   
}

.herotext1{
    width: 300px;
}

/*.quote{
    display: flex;
    background-color: aliceblue;
    padding-left: 150px;
    padding-right: 150px;
    height: 300px;
    text-align: center;
    color: #1f2937;
}

.footer{
    padding: 10px;
    height: 10px;
    text-align: center;
}*/

.logo{
    font-weight: bold;
    flex-grow: 1;
    margin: 10px;

}

button{
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
}
