body{
    background-color: #1f2937;
}

a:hover{
    color: grey;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: paleturquoise;
    margin: 10px;
    font-size: 60px;

}

img{                    
    width: 444.1px;     /* original image dimensions:4441x3331 */
    height: 333.1px;
 
}

.container{
    color: paleturquoise;
    display: flex;
    font-family: "Menlo",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', 'Courier New',sans-serif ;
    flex-direction: column;
}

.header{   
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
    display: flex;
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.perlinks{
    display: flex;
    justify-content: space-around;
}

.hero{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    flex-wrap: wrap;
}

.herotext{
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
    padding: 30px;
   
}

.herotext0{
    font-size:48px;
    font-weight: bold; 
}

.herotext1{
    width: 300px;
}

.quotebox{
    display: flex;
    justify-content: center;
}

.projectbox{
    display: flex;
    justify-content: center;
}

.project{
    display: flex;
    flex-direction: column;
    background-image: url(images/turq.jpg);    
    background-size: 1700px 340px;
    padding: 100px;
    margin: 30px;
    width: 1200px;
    align-items: center;
    color: #1f2937;
    border-radius: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: paleturquoise;
    padding: 100px;
    margin: 30px;
    width: 1200px;
    align-items: center;
    color: #1f2937;
    border-radius: 10px;

}

.quotetext{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.boxes{
    display: flex;
    margin-top: 10px;
}

.box{
    color:   #1f2937;
    background-color:paleturquoise;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
    margin: 10px; 
    height: 80px;
    width: 80px;    
    border-radius: 10px;
}

.footer{
    padding: 10px;
    text-align: center;
}

.logo{
    font-weight: bold;
    flex-grow: 1;
    margin: 10px;

}

.prt{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
button{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 80px;
    border-style: none;
    outline-style: none;
}
